alabaster==0.7.12
anyio==3.4.0
aplus==0.11.0
appnope==0.1.2
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.4.1
astropy==4.3.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
blake3==0.2.1
bleach==4.1.0
blis==0.7.5
bqplot==0.12.31
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
catboost==1.0.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.26
dash==2.0.0
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.11.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
docutils==0.17.1
einops==0.4.0
entrypoints==0.3
fastapi==0.70.0
filelock==3.4.0
findspark==1.4.2
FLAML==0.9.0
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==2.0
fonttools==4.28.3
frozendict==2.1.1
fsspec==2021.11.1
future==0.18.2
gensim==4.1.2
gevent==21.12.0
-e git+https://xdssio@github.com/xdssio/goldilox.git@339289003252ebb80a57577b15b9742411e79c5e#egg=goldilox
graphviz==0.19
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
hdbscan==0.8.27
hnswlib==0.5.2
httptools==0.2.0
huggingface-hub==0.4.0
idna==3.3
imageio==2.13.3
imagesize==1.3.0
imperio==0.1.3
implicit==0.4.8
importlib-metadata==4.8.2
importlib-resources==5.4.0
imutils==0.5.4
iniconfig==1.1.1
interpret==0.2.7
interpret-core==0.2.7
ipydatawidgets==4.2.0
ipykernel==6.6.0
ipyleaflet==0.15.0
ipympl==0.8.2
ipython==7.30.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.7.0
ipyvuetify==1.8.1
ipywebrtc==0.6.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keyring==23.4.0
kiwisolver==1.3.2
koalas==1.8.2
langcodes==3.3.0
lightfm==1.16
lightgbm==3.3.1
lime==0.2.0.1
llvmlite==0.37.0
locket==0.2.1
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.3
multiprocess==0.70.12.2
murmurhash==1.0.6
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nmslib==2.1.1
notebook==6.4.6
numba==0.54.1
numpy==1.20.3
onnx==1.10.2
onnxconverter-common==1.9.0
onnxmltools==1.10.0
onnxruntime==1.10.0
opencv-contrib-python==4.5.5.62
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathos==0.2.8
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.8.2
plotly==5.4.0
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.6
progressbar2==3.55.0
prometheus-client==0.12.0
prompt-toolkit==3.0.23
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.11.0
py4j==0.10.9.2
pyarrow==6.0.1
pybind11==2.6.1
pycparser==2.21
pydantic==1.8.2
pyDeprecate==0.3.2
pyerfa==2.0.0.1
Pygments==2.10.0
pyparsing==3.0.6
pyrsistent==0.18.0
pyspark==3.2.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-utils==2.5.6
pythreejs==2.3.0
pytorch-widedeep==1.0.13
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.3
ray==1.9.2
readme-renderer==31.0
redis==4.1.1
regex==2022.1.18
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
river==0.9.0
sacremoses==0.0.47
SALib==1.4.5
scikit-image==0.19.0
scikit-learn==1.0.1
scipy==1.7.3
Send2Trash==1.8.0
setuptools-scm==6.3.2
shap==0.40.0
six==1.16.0
skl2onnx==1.10.3
sklearn==0.0
skope-rules==1.0.1
slicer==0.0.7
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.2.0
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotlight @ https://github.com/maciejkula/spotlight/archive/master.zip
srsly==2.4.2
starlette==0.16.0
tabulate==0.8.9
tenacity==8.0.1
tensorboardX==2.4.1
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.0.0
tifffile==2021.11.2
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch==1.10.1
torchmetrics==0.7.0
torchvision==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
traittypes==0.2.1
transformers==4.15.0
treeinterpreter==0.2.3
twine==3.7.1
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
vaex==4.6.0
vaex-astro==0.9.0
vaex-core==4.6.0
vaex-hdf5==0.11.0
vaex-jupyter==0.6.0
vaex-ml==0.15.0
vaex-server==0.7.0
vaex-viz==0.5.0
vowpalwabbit==8.11.0
wasabi==0.9.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xarray==0.20.1
xgboost==1.3.3
xyzservices==2021.11.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
