vaex-core
vaex-ml
vaex-hdf5
catboost
lightgbm
xgboost
sklearn
hnswlib
implicit
hdbscan
nmslib
vowpalwabbit
lightfm
river
pytest
flaml
spacy
huggingface
gunicorn
mlflow
GitPython
ray
fastapi
starlette
uvicorn
